body{
	background:cyan;
}

p {
	color:blue;
	font-size:40px;
	font-family: sans-serif;

}

h1 {
	color:rgb(235, 52, 119);
	font-size:30px;
	font-family: sans-serif;

}

h3 {
	color:chartreuse;
	font-size:50px;
	font-family: sans-serif;

}

a {
	color:rgb(235, 192, 52);
	font-size:20px;
	font-family: sans-serif;

}
#dog{
	height:600px;
	width:900px;
}


    #moon {
    top:900px;
	left:1000px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 15px 15px 0 0 blue;
      position:relative;
    }
