@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	padding:45px;

	
background:rgb(205, 130, 245);
}


.wrapper {
	max-width: 800px;
}

h1 {
	color:blue;
	font-size:63px;
	

}

h2 {
	color:blue;
	font-size:20px;
	line-height: 28px;
	

}

h3 {
	color:rgb(231, 201, 255);
	font-size:40px;
	

}

a {
	color: rgb(2, 250, 209);
}


h4 {
	color:rgb(28, 120, 95);
	font-size:20px;
	margin-top: 0;

}


.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px
}
.container div img{
width:120px;
}

.container img {
	width: 100%;
}



@media (max-width: 800px) {
	.container {
		grid-template-columns: 1fr;
	}
}