.wrapper {
	max-width: 800px;
}

h1 {
	left:77px;
	color:rgb(56, 198, 214);
	font-size:68px;
	font-family: sans-serif;

}

h2 {
   color:rgb(56, 198, 214);
   font-size:40px;
   font-family: sans-serif;
   width: 900px;

}

h3{
font-family: Helvetica, Arial, sans-serif;
width: 900px;
font-size: 30px;
color: rgb(143, 191, 48);

}
	p{
	width: 900px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 29px;
	font-style:bold;
	font-weight: bold;
	text-transform: ;
	text-align: ;
}

.bold {
	font-weight: bold;
}

.blue {
	color:rgb(56, 198, 214);
}

#green-pants {
	position:absolute;
	height:600px;
	width:600px;
	top:3450px;
	left:840px
}

body{
	background: rgb(68, 68, 227);
}

a{
	color:rgb(56, 198, 214);
}