
body{
	position: relative;
}

h3{
	position:relative;
	font-family: Helvetica, Arial, sans-serif;
	text-transform: lowercase;
	width: 1000px;
	font-size: 17px;
	color: black
	top:20px;
	left:150px;
}

#pink{
	position:absolute;
	height:240px;
	width:240px;
	top:410px;
	left:320px;
}

#teal{
	position:absolute;
	height:350px;
	width:350px;
	top:60px;
	left:550px;
  
}

#red{
	position:absolute;
	height:70px;
	width:70px;
	top:370px;
	left:190px;
}

#green{
	position:absolute;
	height:100px;
	width:100px;
	top:590px;
	left:650px;
}

#black{
	position:absolute;
	height:150px;
	width:150px;
	top:540px;
	left:1100px;
}

#purple{
	position:absolute;
	height:100px;
	width:120px;
	top:250px;
	left:1100px;
}

#limegreen{
	position:absolute;
	height:130px;
	width:130px;
	top:210px;
	left:330px;
}

#orange{
	position:absolute;
	height:130px;
	width:130px;
	top:460px;
	left:830px;
}